/* Base.css */
:root {
    --primary-color: #EE4D2D;
    --white-color: #ffffff;
    --black-color: #000000;
    --text-color: #333333;
    --border-color: #dbdbdb;
    --gold-star-color: #ffce3e;
    --navbar-height: 32px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
  }
  
  * {
    box-sizing: inherit;
  }
  
  body{
      margin:0;
  }

  html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  
  /* Responsive */
  .grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }
  .grid__full-width{
    width: 100%;
  }
  
  .grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    min-height: 130px;
  }
  
  /* Test */
  
  /* Cho Category */
  .grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
  }
  
  /* Cho Footer  */
  .grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
  }
  
  /* Cho Cart */
  .grid__column-6{
    padding-left: 5px;
    padding-right: 5px;
    width:50%;
}
.grid__column-6-4{
    padding-left: 5px;
    padding-right: 5px;
    width:25%;
}

/* Cho Shipping Address */
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width:83.3333%;
}

.grid__column-10-3{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}
.grid__column-10-7{
    padding-left: 5px;
    padding-right: 5px;
    width: 79.33%;
}
.grid__column-10-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.67%;
} 

/* Cho Product items */
.grid__column-10{
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3333%;
}

  /* Animations  */
  @keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  
  .btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
  }
  
  .btn.btn-register{
    color: var(--white-color);
    background-color: var(--primary-color);
  }
  .btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
  }
  
  .btn.disabled{
    cursor: default;
    background-color: rgb(226, 223, 223);
    color: rgb(165, 163, 163);
  }
  .btn.cancel{
    cursor: pointer;
    background-color: rgb(226, 223, 223);
    color: var(--text-color);
    margin-right: .5rem;
  }
  .btn.btn-smaller{
    height: 32px;
    font-size: 12px;
  }
  
  .select-input{
    min-width: 200px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 0 12px;
  }
  .select-input__label{
    font-size: 1.4rem;
  }
  .select-input-icon{
    font-size: 1.4rem;
    top: 1px;
    color: rgb(131, 131, 131);
    position: relative;
  }
  
  /* pagination  */
  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pagination-item{
    list-style-type: none;
    margin: 0 10px;
  }
  .pagination-item__link{
    --height : 30px;
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    border-radius: 2px;
  }
  .actived-page .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
  }
  .margin-pagination{
    margin: 48px 0 32px 0;
  }
  .cursor_default{
    cursor: default;
  }
  
  .footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
  
  }
  .footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
  }
  .footer-list{
    padding-left: 0;
    
  }
  .footer-item{
    list-style-type: none;
  }
  .footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color : #737373;
  }
  
  
  /* Main.css */
  .header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
  }
  
  .header__navbar {
    display: flex;
    justify-content: space-between;
  
  }
  
  .header__navbar-list {
    padding: 0;
    margin: .5rem 0 0 0;
    display: flex;
  }
  
  .header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
  }


/* User info */
.header__navbar-user{
  display: flex;
  align-items: center;
  position:relative;
}

.header__navbar-user:hover .header__navbar-user-menu{
  display:block;
  cursor: pointer;
  
}

.header__navbar-user-img{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border:1px solid rgba(0, 0, 0, 0.1)
}

.header__navbar-user-name{
  margin-left: 8px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-user-menu{
  position: absolute;
  z-index: 1;
  padding-left: 0;
  top: calc(100% + 4px);
  right: 0;
  border-radius: 2px;
  width: 160px;
  background-color: var(--white-color);
  list-style-type: none;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}



.header__navbar-user-menu::before{
  position: absolute;
  content: "";
  border-width: 10px 14px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  right: 22px;
  top: -19px;
}
  
.header__navbar-user-menu::after{
  content: "";
  position: absolute;
  display: block;
  top: -8px;
  width: 56%;
  height:8px;
  right:0px;
}

.header__navbar-user-item a{
  text-decoration:none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 4px 16px;
  display: block;
  font-weight: 400;
}

.header__navbar-user-item a:first-child{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

}

.header__navbar-user-item a:last-child{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  
}

.header__navbar-user-item a:hover{
  background-color: #fafafa;
  color: #00bfa5
}

  
  
  .header__navbar-item,
  .header__navbar-item-link {
    list-style-type: none;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
  }
  
  .icon:hover,
  .header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }
  
  .bold {
    font-weight: 500;
  }
  
  .separate::after {
    content: '';
    display: block;
    position: absolute;
    height: 1.6rem;
    border-left: 1px solid #FB9086;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .icon {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
    margin: 0 5px;
  }
  
  .navbar-item-link {
    text-decoration: none;
  }
  
  .header__navbar-item,
  .navbar-item-link,
  a {
    display: inline-flex;
    align-items: center;
  }
  
  .title {
    cursor: text;
    color: var(--white-color);
  }
  
  /* QR -CODE  */
  .header__qr-code {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .header__qr-code::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
  }
  
  .header__qr-code>img {
    width: 100%;
  }
  
  .header-qr-link>img {
    height: 1.4rem;
  }
  
  .qr-code__apps {
    display: flex;
    justify-content: space-between;
  }
  
  .header-qr-link :nth-child(1) {
    margin-left: 11px;
    margin-right: 11px;
  }
  
  .header__navbar-item:hover .header__qr-code {
    display: block;
    z-index: 1;
  }
  
  .header__navbar-item:hover .notify {
    display: block;
    cursor: pointer;
  }
  
  /* Header Notify */
  .notify {
    position: absolute;
    top: 120%;
    width: 404px;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    animation: headerNotifyGrowUp ease 0.2s;
    /*Đang nở ra từ tâm => cần chuyển tâm dùng transform-origin */
    transform-origin: calc(100% - 32px) top;
    display: none;
    z-index: 2;
    border-radius: 2px;
  }
  
  .notify::before {
    position: absolute;
    content: '';
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 4px;
    top: -29px;
  }
  
  .notify::after {
    content: '';
    position: absolute;
    display: block;
    right: -5px;
    top: -16px;
    width: 100px;
    height: 20px;
    /* background-color: red; */
  }
  
  @keyframes headerNotifyGrowUp {
    from {
        opacity: 0;
        transform: scale(0);
    }
  
    to {
        opacity: 1;
        transform: scale(1);
    }
  }
  
  .notify-title {
    height: 40px;
    background-color: var(--white-color);
    cursor: text;
  }
  
  .notify-title h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    text-transform: capitalize;
    -webkit-user-select: none;
    /*không cho copy text trên gg chrome*/
  }
  
  .notify-list {
    padding-left: 0;
  }
  
  .notify-item {
    list-style-type: none;
  }
  
  .notify-item:hover,
  .view-all:hover {
    background-color: #f3f3f3;
  }
  
  .notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
  
  }
  
  .notify-link.view {
    background-color: rgba(238, 75, 43, 0.09);
  }
  
  .notify-link-img {
    width: 48px;
    object-fit: contain;
    /*Cách 2: Đưa thẻ img vào trong thẻ <span> */
  }
  
  .notify-link-info {
    margin-left: 12px;
  }
  
  .notify-info-name {
    display: block;
    color: black;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 4px;
  }
  
  .notify-info-desc {
    display: block;
    color: #756f6e;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  
  .view-all {
    display: flex;
  }
  
  .view-all-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0px;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 400;
  }
  
  /* header-with-search   */
  .header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
  }
  
  .header__logo {
    width: 200px;
  
  }
  
  .header__logo-img {
    width: 150px;
  
  }
  
  .header__search {
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
  }
  
  .header__cart {
    width: 150px;
    text-align: center;
    position: relative;
  
  }
  
  .header_cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
  }
  
  .header__search-input {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    border: none;
    outline: none;
    padding: 0 16px;
    border-radius: 8px;
  }
  
  .header__search-select {
    border-left: 1px solid #E8E8E8;
    padding: 0 12px;
    position: relative;
    cursor: pointer;
  }
  
  .header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
  
  }
  
  .header__search-icon {
    font-size: 1.4rem;
    color: rgb(136, 136, 136);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
  }
  
  .header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
    outline: none;
  }
  
  .header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
  }
  
  .header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
  }
  
  .header__search-select:hover .header__search-option {
    display: block;
  }
  
  .header__search-option::before {
    content: "";
    display: block;
    position: absolute;
    /* background-color: red; */
    width: 100%;
    height: 20px;
    top: -10px;
  }
  
  .header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 145px;
    list-style-type: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0px;
    /* overflow: hidden; */
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .2s;
  }
  
  .header__search-option-item {
    padding: 8px 8px;
    background-color: var(--white-color);
  }
  
  .header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  
  .header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .search-option-item-label {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
  }
  
  .header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
  }
  
  .header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
  }
  
  .active i {
    display: inline-block;
  }
  
  .header__search-input-wrapper {
    flex: 1;
    height: 100%;
    position: relative;
  }
  
  .header__search-input:focus~.header__search-history {
    display: block;
  }
  
  .header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    background-color: var(--white-color);
    width: calc(100% - 16px);
    left: 0;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(192, 192, 192);
    display: none;
    overflow: hidden;
    z-index: 1;
  
  }
  
  .header__search-history-title {
    font-weight: 300;
    font-size: 1.4rem;
    margin: 6px 12px;
    color: #999;
  }
  
  .header__search-history-list {
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 6px;
  
  }
  
  .header__search-history-item {
    list-style-type: none;
    height: 38px;
    padding: 0 12px;
  }
  
  .header__search-history-item:hover {
    background-color: #fafafa;
  }
  
  .header__search-history-item a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
  }
  
  .header__cart-list {
    position: absolute;
    top: calc(100% + 4px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.123rem 0 rgba(0, 0, 0, 0.25);
    display: none;
    animation: fadeIn ease-in .3s;
    cursor: default;
    z-index: 1;
  }
  
  .header__cart-wrapper:hover .header__cart-list {
    display: block;
  }
  
  .header__cart-wrapper {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
  }
  
  .no-cart {
    padding: 28px 0;
  }
  
  .no-cart .header__cart-img-no-cart,
  .no-cart .header__cart-list-label {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  
  
  
  .header__cart-list>img {
    width: 60%;
    display: none;
  }
  
  .header__cart-list-label {
    display: none;
    /* display: block; */
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
  }
  
  .header__cart-list::after {
    content: '';
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
  
  }
  
  .header_cart-mount {
    position: absolute;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    top: -4px;
    right: -4px;
  }

/* has cart */

.header__cart-heading{
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #999;
}

.header__cart-list-list{
  padding-left: 0px;
  list-style-type: none;
  /* Ăn theo chiều cao thiết bị */
  height: 48vh;
  overflow-y: scroll;

}

.header__cart-list-item{
  display:flex;
  align-items: center;
}

.header__cart-list-item:hover{
  background-color: #f8f8f8;
}

.header__cart-img{
  width: 42px;
  height: 42px;
  margin: 12px;
}


.header__cart-item-info{
  width: 100%;
  margin-right: 12px;
}

.header__cart-item-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart-item-price{
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}
.header__cart-item-multiply{
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}

.header__cart-item-quantity{
  font-size: 1.2rem;
  color: #757575;
}


.header__cart-item-name{
  flex:1;
  padding-right: 1.6rem;
  font-size: 1.4rem;
  line-height: 2rem;
  max-height: 4rem;
  font-weight: 500;
  color: var(--text-color);
  margin:0;
  text-align: left;
  
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 


}

.header__cart-item-body{
  display: flex;
  justify-content: space-between;
}

.header__cart-item-description{
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}

.header__cart-item-remove{
  color:var(--text-color);
  font-size: 1.4rem;
}

.header__cart-item-remove:hover{
  cursor: pointer;
  color: var(--primary-color);
}

.header__cart-view-cart{
  float: right;
  margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover{
  background-color: #F05D41;
}


/* Finish has cart */


  
  .content {
    background-color: #f5f5f5;
  }
  
  .category {
    background-color: var(--white-color);
    border-radius: 2px;
  }
  
  .padding-top {
    padding-top: 36px;
    ;
  }
  
  .category__heading {
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0;
  }
  
  .category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
  }
  
  .category-list {
    padding: 0 0 8px 0;
    margin-left: 9px;
  }
  
  .category-item {
    list-style-type: none;
  }
  
  .category-item__link {
    position: relative;
    color: var(--text-color);
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    padding: 4px 16px;
    transition: right linear .1s;
    right: 0;
  }
  
  .category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
  }
  
  .active .category-item__link {
    color: var(--primary-color);
  }
  
  .active .category-item__link::before {
    content: "";
    position: absolute;
    border: 4px solid;
    top: 50%;
    left: 8px;
    transform: translateY(calc(-50%));
    border-color: transparent transparent transparent var(--primary-color);
  }
  
  .home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
  }
  
  .home-filter__label {
    font-size: 1.4rem;
    margin-right: 16px;
    color: #555555;
  }
  
  .home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .home-filter-btn {
    margin-right: 12px;
    min-width: 90px;
  }
  
  .home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
  }
  
  .home-filter__page-num-current {
    color: var(--primary-color);
  }
  
  .home-filter__page-control {
    display: flex;
    width: 72px;
    height: 36px;
  }
  
  .home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
  }
  
  .home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
  }
  
  .disabled {
    background-color: #f9f9f9;
  }
  
  .disabled .home-filter__page-icon {
    color: #ccc;
    cursor: default;
  }
  
  .home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
  }
  
  
  /* Product item  */
  .home-product {
    margin-bottom: 10px;
  }
  
  .home-product-item {
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in .1s;
    will-change: transform;
  
    display: block;
    text-decoration: none;
  }
  
  .home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
  }
  
  .home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 18px;
    height: 36px;
    margin: 10px 10px 6px;
    overflow: hidden;
  
    /* Hiển thị dấu ... cho dòng thứ 2 */
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  
    /* Cách 2: text-overflow: elippsis chỉ ... ở 1 dòng */
  
  }
  
  .home-product-item__price {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  
  .home-product-item__price-old {
    font-size: 1.4rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
  }
  
  .home-product-item__price-current {
    font-size: 1.6rem;
    margin-left: 10px;
    color: var(--primary-color);
  }
  
  .home-product-item__action {
    display: flex;
    margin: 6px 10px 0px;
    justify-content: space-between;
  }
  
  .home-product-item__like {
    font-size: 1.3rem;
  }
  
  i.like-icon-filled {
    color: #f63d30;
    display: none;
  }
  
  .liked .like-icon-filled {
    display: inline-block;
  }
  
  .liked .like-icon-initial {
    display: none;
  }
  
  .home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin-left: -1px 0 0 auto;
  }
  
  .gold-star {
    color: var(--gold-star-color);
  }
  
  .home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 8px;
  }
  
  .home-product-item__origin {
    display: flex;
    justify-content: space-between;
    color: #595959;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 3px 10px 0;
  }
  
  .home-product-item__favourite {
    position: absolute;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    top: 10px;
    left: -4px;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .home-product-item__favourite i {
    margin: 0 2px 0 4px;
    font-size: .9rem;
    color: var(--white-color);
  }
  
  .home-product-item__favourite span {
    color: var(--white-color);
  }
  
  .home-product-item__favourite::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
  }
  
  .home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
  }
  
  .home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    color: rgba(255, 216, 64, 0.94);
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
  }
  
  .home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2rem;
    position: relative;
    top: 4px;
  }
  
  .home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
    position: relative;
    top: 8px;
  }
  
  
  .footer-item-icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
  }
  
  .footer-item__link {
    display: flex;
    align-items: center;
  }
  
  .footer__text{
    margin-top: 36px;
    padding : 8px 0;
    background-color: #f5f5f5;
  }
  .text{
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
    font-weight: 300;
    height: 32px;
    line-height: 32px;
  }


  /* Product detail */
  .details{
     display:flex;
     justify-content: space-between;
     align-items:flex-start;
     flex-wrap: wrap;
  }
  .details-image{
    flex: 2 1 60rem;
  }
  .details-image img{
    max-width: 60rem;
    width: 60%;
  }
  .details-info{
    flex: 1 1 30rem;
  }
  .details-action{
    flex: 1 1 30rem;
  }

  /* Product Details */
.product-detail-image {
  width: 40%;
  background-color: var(--white-color);
  padding: 2rem 1.6rem 5rem 1.6rem;
}
.product-detail-image img{
  height: 470px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.product-detail-info {
  width: 60%;
  background-color: var(--white-color);
  padding: 2rem 1.6rem 5rem 2.6rem;
}

.name{
  font-size:2rem;
  font-weight: 500;
  padding-bottom: 1.6rem;
}

.review-sold {
  display: flex;
  align-items: center;
  color: var(--text-color);
  padding-bottom:1.6rem;
  padding-top:1.6rem;
}

.rating-star{
  border-right: 1px solid #ccc;
  padding-right: 1.6rem;
}
.rating-star-icon{
  font-size: 1.6rem;
  color: var(--gold-star-color)
}


.num-review {
  border-right: 1px solid #ccc;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  font-size: 1.4rem;
  color:var(--text-color);
}
.num-sold {
  padding-left: 1.6rem;
  font-size: 1.4rem;
}
.num{
  font-size: 1.8rem;
  font-weight:500;
  margin-right: .3rem;
}
.price {
  background-color: #fafafa;
  min-height: 54px;
  line-height: 54px;
  padding-left: 16px;
  margin: auto;
  display: flex;
  align-items: center;
}
.price-old{
  color: rgba(0,0,0,.54);
  font-weight: 300;
 text-decoration: line-through;
 margin-right: 1rem;
 font-size: 1.8rem;
}
.price-new{
  color: var(--primary-color);
  font-size: 2.6rem;
}
.shipping{
  display: flex;
  padding: 1.8rem;
}
.shipping-label{
  font-size: 1.4rem;
  padding: 0 3rem 0 0;
  color: #595959;
}
.shipping-free{
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  padding-bottom: 1rem;
}

.shipping-free-label{
   font-size: 1.4rem;
   color:var(--text-color);
   padding-left:1rem;
}
.shipping-free-condition{
  font-size: 1.4rem;
  color: #595959;
  padding-left:1rem;
  font-weight: 100;
}

.shipping-to{
  display: flex;
  font-size: 1.4rem;
  color:var(--text-color);
}
.shipping-to-label{
  font-size: 1.4rem;
  padding-right: 1.6rem;
  color: #595959;
}
.shipping-to-address{
  border:none;
  outline:none;
}

.shipping-fee-label{
  font-size: 1.4rem;
  padding-right: 1.6rem;
  color: #595959;
  margin-left:auto
}
.shipping-fee-price{
   border:none;
   font-size: 1.4rem;
   outline:none;
}
.shipping-icon{
  font-size: 1.4rem;
  width: 10px;
  margin:10px;
}

.quantity{
  display:flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-left: 1.6rem;
}
.quantity-label {
  font-size: 1.4rem;
  color: #595959;
}
.quantity-buy{
  font-size: 1.4rem;
  width: 12rem;
  border:1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.quantity-in-stock{
  font-size: 1.4rem;
  color: #595959;
  padding-left: 1rem;
  font-weight: 100;
}
.add-to-cart{
  background-color: rgba(208,1,27,.08);
  border: 1px solid #d0011b;
  color: #d0011b;
  margin-left: 1.6rem;
  margin-right: .5rem;
}
.out-of-stock{
  cursor: no-drop;
}
.quantity-num{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  flex:1.5;
  text-align: center;
}
.quantity-num-dec{
  text-align: center;
  flex:1
}
.quantity-num-inc{
  text-align: center;
  flex:1
}
.quantity-in-stock{
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 200;
}
.quantity-num-inc, .quantity-num-dec{
  font-size: 1.6rem;
  font-weight: 500;
  border:none;
  outline:none;
  background-color: var(--white-color);
  cursor: pointer;
}

/* CART */
.cart-item-heading{
    height: 70px;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    background: #fff;
    color: #888;
    padding: 0 20px;
    display: flex;
    margin-bottom: 1rem;
}

.cart-item-heading-name{
  font-size: 1.6rem;
  color: rgba(0,0,0,.8);
}
.cart-item-content-product{
  text-decoration: none;
  display: flex;
  height: 100%;
}
.cart-item-content-name{
  color: var(--text-color);
  font-size: 1.6rem;
  height: 5rem;
  line-height: 2rem;
  overflow: hidden;
  padding-top: 1rem;
  /* Hiển thị dấu ... cho dòng thứ 2 */
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;


}

.cart-item-heading-left{
  font-size: 1.6rem;
  color:#888;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.cart-item-heading-left-unit-price{
  text-align: center;
}
.cart-item-heading-left-qty{
   text-align: center;
}
.cart-item-heading-left-price{
   text-align: center;
}
.cart-item-heading-left-action{
   text-align: center;
}

.cart-item-content-list{
  width: 100%;
  padding-left: 0;
  margin-top:0;
}

/* CartScreen Empty */
.cart-item-content-list-empty{
  /* height: 39vh; */
  height: 25.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.cart-item-content-list-empty img{
  width: 120px;
  height: 120px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/f3540f6….png);
  background-color: #f5f5f5;
}
.cart-item-content-list-empty-title{
  font-size: 1.4rem;
  color: rgba(0,0,0,.4);
  line-height: 1rem;
  font-weight: 600;
  margin-top: 1.125rem;
}

.cart-item-content{
    list-style-type: none;
    text-decoration:none;
    /* height: 106px; */
    line-height: 106px;
    border-radius: 3px;
    background: #fff;
    color: #888;
    padding: 0 20px;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.cart-item-content-left{
  font-size: 1.6rem;
  color: var(--text-color);
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.cart-item-content-left-unit-price{
  text-align: center;
}
.cart-item-content-left-qty{
   text-align: center;
   line-height: 2.6rem;
}
.cart-item-content-left-price{
   text-align: right;
   color: #ee4d2d;
}
.cart-item-content-left-action{
   text-align: center;
   border:none;
   outline:none;
   background: var(--white-color);
   width: 8rem;
   line-height: 4rem;
   cursor: pointer;
}
.cart-item-content-left-action:hover{
  color: #00bfa5
}


.cart-item-content-img{
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 10rem;
    height: 9rem;
}

.cart-item-content-checkout{
  width: 100%;
  height:80px;
  background-color: #fff;
  margin-bottom: 1rem;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  bottom: 0;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px -2px 5px 0px #463b3b; */
}

.cart-item-content-total-price-title{
  font-size: 1.6rem;
  color: var(--text-color);
}
.cart-item-content-total-price-num{
    font-size: 2.8rem;
    line-height: 2.4rem;
    margin-left: 1rem;
    margin-right: 2.5rem;
    color: #ee4d2d;
    font-weight: 500;
}



/* Sign in */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

/* .modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
} */

.modal__body {
    background-color: var(--white-color);
    z-index: 1;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.auth-form {
    width: 555px;
    border: 1px solid #ccc;
    margin: 5rem 0rem;
    position: relative;
    left:50%;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:hover {
    border-color: #777777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--text-color);
    text-align: center;
    padding: 0 12px !important;

}

.policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}

.btn-back {
    margin-right: 8px;
    background-color: var(--white-color);
}

.btn-back:hover {
    background-color: rgb(233, 233, 233);
}

.auth-form__socials {
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 233, 233);
    padding: 12px 36px;
}

.facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.goggle {
    background-color: var(--white-color);
}

.label {
    margin: 0 36px;
}
.fa-facebook-square{
    color: var(--white-color);
}
.fa-google{
    color: var(--border-color);
}


/* Sign in header */
.header-with-search-sigin-title{
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--black-color);
  display: block;
  width: 100%;
}
.header-with-search .header-with-search-signin{
  display: flex;
  align-items: center;
}


/* Products list table create */
.content-margined{
  margin: 1rem;
}
.product-header{
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}
.table{
  width: 100%;
}
th{
  text-align: left;
}

tbody>tr:nth-child(odd){
  background-color: #f0f0f0;
}


/* Checkout steps */
.checkout-steps{
  display:flex;
  justify-content: space-between;
  width:45rem;
  margin: 1rem auto;
}

.checkout-steps >div{
  border-top:.3rem #c0c0c0 solid;
  color:#c0c0c0;
  flex:1 1;
  padding-top:1rem;
  text-align:center;
}
.checkout-steps >div.active{
  border-top: .3rem #f08000 solid;
  color: #f08000;
}

.cart-item-heading-address{
  margin-bottom: 0;
}



/* Cart Address */
.cart-item-heading-address{
  margin-bottom: 2.5rem;
}

.cart-item-heading-address-info{
  margin-bottom: 0;
}
.cart-item-heading-address-icon{
  font-size: 1.8rem;
  color: var(--primary-color);
}

.cart-item-heading-address-title{
  font-size: 1.4rem;
  color: var(--primary-color);
}
.cart-item-heading-address-info-name{
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
}
.cart-item-heading-address-info-change{
  text-decoration:none;
}
.cart-item-heading-address-info-change:hover{
  cursor: pointer;
  color: #00bfa5;
}


/* Loading */

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid var(--text-color);
  width: 25px;
  height: 25px;
  -webkit-animation: spin .6s linear infinite; /* Safari */
  animation: spin .6s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




